

// Tipografía
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$turquesa: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1280px;